body {
    background-color:aqua;
}

.container {
    /*display: flex;

    /* If you want to place the icon before the text input */
    flex-direction: row-reverse;

    /* Border */
    border: 3px solid black;
    margin: 1rem;
    padding: 1rem;
    color: black;


}

.container__input {
    border-color: transparent;
    /* Take available width */
    flex: 1;
    padding: 8px;
   
}